<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'account','My account')}">

<body>

<div class="row p-3">
    <div class="col-sm-3">
        <!--left col-->

        <div class="text-center">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                 alt="avatar">

        </div>
        </hr><br>

        <div class="card text-center">
            <div class="card-header">
                Appointments
            </div>
            <div class="card-body p-0">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Scheduled
                        <span class="badge rounded-pil bg-primary"
                              th:text="${numberOfScheduledAppointments}">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Canceled this month
                        <span class="badge rounded-pil bg-danger"
                              th:text="${numberOfCanceledAppointments}">1</span>
                    </li>
                </ul>
            </div>

        </div>


    </div>
    <!--/col-3-->
    <div class="col-sm-9">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab"
                    aria-controls="profile" aria-selected="true" type="button">
                    Profile
                </button>
            </li>
            <li sec:authorize="hasRole('ROLE_PROVIDER') or hasRole('ROLE_CUSTOMER')" class="nav-item">
                <button class="nav-link" id="changingPassword-tab" data-bs-toggle="tab" data-bs-target="#changingPassword" role="tab"
                    aria-controls="changingPassword" aria-selected="false" type="button" th:classappend="${param.activeTab == 'changingPassword' ? 'active' : ''}">
                    Password
                </button>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form th:action="@{${formActionProfile}}" th:object="${user}" method="POST">

                    <input type="hidden" class="form-control" th:field="*{id}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="userName">Username</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}" th:field="*{userName}" readonly>
                            <div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
                                <p th:errors="*{userName}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}" th:field="*{email}">
                            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                                <p th:errors="*{email}"></p>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' :''}" th:field="*{firstName}">
                            <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                                <p th:errors="*{firstName}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' :''}" th:field="*{lastName}">
                            <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                                <p th:errors="*{lastName}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}" th:field="*{mobile}">
                            <div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
                                <p th:errors="*{mobile}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('street') ? 'is-invalid' :''}" th:field="*{street}">
                            <div th:if="${#fields.hasErrors('street')}" class="invalid-feedback">
                                <p th:errors="*{street}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('city') ? 'is-invalid' :''}" th:field="*{city}">
                            <div th:if="${#fields.hasErrors('city')}" class="invalid-feedback">
                                <p th:errors="*{city}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postcode">Postcode</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('postcode') ? 'is-invalid' :''}" th:field="*{postcode}">
                            <div th:if="${#fields.hasErrors('postcode')}" class="invalid-feedback">
                                <p th:errors="*{postcode}"></p>
                            </div>
                        </div>
                    </div>

                    <th:block th:if="${account_type =='provider'}">
                        <div class="form-group">
                            <label>Works:</label>
                            <ul>
                                <li th:each="work : ${allWorks}">
                                    <input type="checkbox" th:field="*{works}" th:value="${work.id}"/>
                                    <label th:for="${#ids.prev('works')}" th:classappend="text-primary" th:text="${work.name}">French lesson</label>
                                </li>
                            </ul>
                        </div>
                    </th:block>

                    <button style="margin-top: 10px" type="submit" class="btn btn-primary">Save</button>
                </form>


            </div>

            <div class="tab-pane fade pt-3" id="changingPassword" role="tabpanel" aria-labelledby="changingPassword-tab" >

                <form th:action="@{${formActionPassword}}" th:object="${changePassword}" method="POST">

                    <input type="hidden" th:field="*{id}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="currentPassword">Current password</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('currentPassword') ? 'is-invalid' :''}" th:field="*{currentPassword}">
                            <div th:if="${#fields.hasErrors('currentPassword')}" class="invalid-feedback">
                                <p th:errors="*{currentPassword}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newPassword">New password</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('newPassword') ? 'is-invalid' :''}" th:field="*{newPassword}">
                            <div th:if="${#fields.hasErrors('newPassword')}" class="invalid-feedback">
                                <p th:errors="*{newPassword}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="matchingPassword">Repeat new password</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('matchingPassword') ? 'is-invalid' :''}" th:field="*{matchingPassword}">
                            <div th:if="${#fields.hasErrors('matchingPassword')}" class="invalid-feedback">
                                <p th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top: 10px" type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    // Check if the URL contains the activeTab parameter and it is set to 'changingPassword'
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('activeTab') && urlParams.get('activeTab') === 'changingPassword') {
        // Trigger a click event on the "Password" tab button
        document.getElementById('changingPassword-tab').click();
    } else {
        document.getElementById('profile-tab').click();
    }
</script>

</body>
</html>