<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}">
  <body>
    <div class="row mt-3">
        <div class="col">
    
        </div>
        <div class="col-10">
            <div id='calendar'></div>
        </div>
        <div class="col">
    
        </div>
    </div>

    <script th:inline="javascript">
 document.addEventListener('DOMContentLoaded', function() {
        let userId = /*[[${userId}]]*/ -1;
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, timeGridWeek'
            },
            allDaySlot: false,
            slotMinTime: "06:00:00",
            slotMaxTime: "22:00:00",
            firstDay: 1,
            eventTimeFormat : {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: false
            },  
            eventSources: [
                {
                    url: '/api/users/' + userId + '/appointments',
                    color: 'yellow',
                    textColor: 'black'
                }
            ]
        });
        calendar.render();
    });
  
      </script>
  </body>
</html>