<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'appointments','Appointment detail')}">

<body>
<div class="row" style="margin-top: 50px">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-1">
            </div>
            <div th:if="${allowedToRequestRejection}" class="col-md-9 p-3 mb-2 bg-warning text-dark text-center">
                <p>You have <span class="font-weight-bold" th:text="${remainingTime}">3h 45m</span> to deny that
                    this appointment took place.</p>
                <p>After that time it will be invoiced automatically.</p>

                <form th:action="@{/appointments/reject}" method='POST'>
                    <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                    <input type="submit" class="btn btn-danger" value="Reject" />
                </form>
            </div>
            <div th:if="${allowedToAcceptRejection}" class="col-md-9 p-3 mb-2 bg-warning text-dark text-center">
                <p>Customer claims that this appointment didn't take place.</p>
                <p>If you agree with that, click the button below:</p>

                <form th:action="@{/appointments/acceptRejection}" method='POST'>
                    <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                    <input type="submit" class="btn btn-danger" value="Accept" /></form>
            </div>

        </div>

        <div class="row">
            <div class="col-md-1">
            </div>
            <div>

                <table id="appointments" class="table">
                    <tr>
                        <td><b>status</b></td>
                        <td><span th:text="${appointment.status}"> scheduled </span></td>
                    </tr>
                    <tr th:if="${appointment.status.name()=='CANCELED'}">
                        <td><b>canceled by</b></td>
                        <td><span
                                th:text="${appointment.canceler.firstName + ' ' + appointment.canceler.lastName}">Canceller
                            name</span>
                        </td>

                    </tr>

                    <tr>
                        <td><b>date</b></td>
                        <td><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy')}">10-01-2019</span></td>
                    </tr>
                    <tr>
                        <td><b>time</b></td>
                        <td><span th:text="${#temporals.format(appointment.start, 'HH:mm')+' - '+ #temporals.format(appointment.end, 'HH:mm')}">14:00 - 15:00</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>customer</b></td>
                        <td><span th:text="${appointment.customer.firstName+' '+appointment.customer.lastName}">Peter Kawasaki</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>provider</b></td>
                        <td><span th:text="${appointment.provider.firstName+' '+appointment.provider.lastName}">Marian Noway</span>
                        </td>
                    </tr>

                    <tr>
                        <td><b>work</b></td>
                        <td><span th:text="${appointment.work.name}"> english </span></td>
                    </tr>
                    <tr>
                        <td><b>description</b></td>
                        <td><span th:text="${appointment.work.description}">description</span></td>
                    </tr>


                    <tr>
                        <td><b>price</b></td>
                        <td><span th:text="'Rp ' + ${#numbers.formatDecimal(appointment.work.price, 0, 'POINT', 2, 'COMMA')}"> 50 </span></td>
                    </tr>
                    <tr th:if="${appointment.status.name()=='INVOICED'}">
                        <td><b>invoice</b></td>
                        <td><a th:href="@{'/invoices/download/'+${appointment.invoice.id}}">download</a></td>
                    </tr>
                    
                    <tr>
                        <td><b>cancellation</b></td>
                        <td th:if="${allowedToCancel}">
                            <form th:action="@{/appointments/cancel}" method='POST'>
                                <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                                <input type="submit" class="btn btn-danger" value="Cancel" />
                            </form>
                        </td>
                        <td th:unless="${allowedToCancel}">
                            <p th:text="${cancelNotAllowedReason}">Reason why appointment cannot be cancelled.</p>
                        </td>
                    </tr>

                </table>

            </div>
            <section>
                <div class="container py-5">
              
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
              
                      <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center p-3"
                          style="border-top: 4px solid #ffa900;">
                          <h5 class="mb-0">Chat messages</h5>
                        </div>
                        <div id="perfectScrollbar" class="card-body" style="position: relative; height: 400px">
                            <div th:each="chatMessage : ${appointment.chatMessages}">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-1" th:classappend="${userId == chatMessage.sender.id} ? 'small text-muted' : ''" th:text="${chatMessage.sender.firstName + ' ' + chatMessage.sender.lastName}">Luke Stamp</p>
                                    <p class="small mb-1" th:classappend="${userId == chatMessage.sender.id} ? '' : 'text-muted'" th:text="${#temporals.format(chatMessage.createdAt, 'dd-MM-yyyy HH:mm')}">23 Jan 2:00 pm</p>
                                </div>
                                <div class="d-flex flex-row" th:classappend="${userId == chatMessage.sender.id} ? 'justify-content-end mb-4 pt-1' : 'justify-content-start'">
                                    <p class="small p-2 mb-3 rounded-3" th:classappend="${userId == chatMessage.sender.id} ? 'me-3 text-white bg-warning' : 'ms-3 bg-light'" th:text="${chatMessage.message}">For what reason
                                        would it
                                        be advisable for me to think about business content?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/appointments/messages/new}" th:object="${chatMessage}" method='POST'>
                            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                <div class="input-group mb-0">
                                    <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                                    <input type="text" class="form-control" placeholder="Type message" th:field="*{message}"
                                    aria-label="Recipient's username" aria-describedby="button-addon2" />
                                    <button class="btn btn-warning" type="submit" id="button-addon2" style="padding-top: .55rem;">Send</button>
                                </div>
                            </div>
                        </form>
                      </div>
              
                    </div>
                  </div>
              
                </div>
              </section>


                        
            </div>

            </div>


        </div>

    </div>
</div>
</div>
</body>

</html>