<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}">

<body>
<div class="row mt-3">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div id='calendar'></div>
    </div>
    <div class="col-3">

    </div>
</div>
</div>

<script th:inline="javascript" type="module">
    document.addEventListener('DOMContentLoaded', function() {
        let providerId = /*[[${providerId}]]*/ -1;
        let workId = /*[[${workId}]]*/ -1;
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listDay',
            contentHeight: "auto",
            noEventsContent: 'Unavailable',
            headerToolbar: {
                  left: 'title',
                  center: '',
                  right: 'today prev,next'
              },
            allDaySlot: false,
            slotMinTime: "06:00:00",
            slotMaxTime: "21:00:00",
            firstDay: 2,
            eventTimeFormat : {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: false
            },  
            eventSources: [
                {
                    events: function(fetchInfo, successCallback, failureCallback ) {
                        let startDate = FullCalendar.formatDate(fetchInfo.start, {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        }).replace(/\//g, '-');
                        console.log(startDate);
                        console.log(fetchInfo.start);
                        let url = '/api/availableHours/' + providerId + '/' + workId + '/' + startDate.toString();
                        console.log(url);
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (doc) {

                                let x = doc.map(function (entry) {
                                    let URL = '/appointments/new/' + providerId + '/' + workId + '/' + entry.start;
                                    entry.url = URL;
                                    return entry;
                                });
                                successCallback(x);
                            }
                        });
                    },
                    color: 'white',   // an option!
                    textColor: 'black' // an option!
                }]
        });
        calendar.render();
    });

</script>
</body>

</html>